extends layout

block content
    header.w3-container
      h1(style="font-weight: bold;") Register Form
    form.w3-container(action="/register" method="POST")
      legend.formsLabel Level 
      input.w3-check(type="radio" name="level" value="Utilizador")
      label User
      input.w3-check(type="radio" name="level" value="Admin" style="position:relative; left:30px;")
      label(style="position:relative; left:30px;") Admin
      br
      br
      label.formsLabel Username 
      input.w3-input(type="text" name="username" style="width:500px;")
      br
      label.formsLabel Password 
      input.w3-input(type="password" name="password" style="width:500px;")
      br
      label.formsLabel Name  
      input.w3-input(type="text" name="name" style="width:500px;")
      br
      label.formsLabel Email  
      input.w3-input(type="email" name="email" style="width:500px;")
      br
      label.formsLabel Filiation
      input.w3-input(type="text" name="filiation" style="width:500px;")


      input.w3-btn.notar(type="submit" value="Send")

