extends layout 

block content
    main.form-signin.w-100
        form(action="/logout" method="post" style="position:relative; top:50px;")
            p(style="font-size:30px;") De certeza que deseja efetuar o logout?
            button.btn.btn-primary.w-100(type="submit" style="width:300px;") Logout